# Dependencies
node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
.next/
out/

# Environment Variables
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
**/*.log
blog_agent_service/logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.mypy_cache/
.pytest_cache/

# Tests and Debug
debug/
blog_agent_service/logs/
blog_web_app/backend/logs/

# AI / RAG Data (Temporary)
**/backend/data/
blog_agent_service/images/
blog_agent_service/outputs/
!blog_agent_service/requirements.txt
!blog_agent_service/requirements.docker.txt
!**/*_metadata.json

# System Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.project
*.classpath
*.settings/

# RSA / Keys
*.pem

extra/