version: '3.8'

services:
  backend:
    build: ./backend
    container_name: mern_blog_backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    networks:
      - blog_network

  frontend:
    build: ./frontend
    container_name: mern_blog_frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - blog_network

networks:
  blog_network:
    driver: bridge
